{% extends "base_templates.html" %}
{% block title %}Colegio San Miguel{% endblock %}
{% block content %}

<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #29223b;
      color: #ffffff;
      margin: 0;
      padding: 0;
    }
    
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      color: #ffffff;
      text-align: center;
    }
    
    h2 {
      font-size: 24px;
      color: #ffd700;
      margin-top: 10px;
    }
    
    li {
      margin-bottom: 10px;
    }
    
    a {
      color: #ffffff;
      text-decoration: none;
    }
    
    a:hover {
      color: #f92aad;
    }
</style>

<title>Colegio San Miguel</title>
<div class="container">
    <h2>Se ha registrado correctamente</h2>
</div>
{% endblock %}