{% extends "baseTemplate.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
/* Estilo del encabezado */
h1, h2 {
  color: #003366;
  text-align: center;
}

/* Estilo del formulario */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="text"],
input[type="password"],
input[type="submit"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #003366;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #003366;
  color: #ffffff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #002244;
}

/* Estilo del separador horizontal */
hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #003366;
}

/* Estilo del enlace de cierre de sesión */
a {
  text-align: right;
  color: #003366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

    </style>
    <div class="container">

        <h2>Iniciar sesión</h2>
        <hr/>
        <form action="{{ url_for('iniciarsesion') }}" method="post">
            <label for="padre">Padre
                <input type="radio" id="padre" name="rol" value="Padre">
            </label><br>
            <label for="preceptor">Preceptor
                <input type="radio" id="preceptor" name="rol" value="Preceptor">
            </label><br>
            <label for="correo">Correo Electrónico</label>
            <input type="text" name="correo"><br>
            <label for="clave">Contraseña</label>
            <input type="password" name="clave">
            <br><br>
            <input type="submit" value="Iniciar Sesión">
            <br><br>
        </form>
    </div>
{% endblock %}