{% extends "baseTemplate.html" %}
{% block title %}Colegio San Miguel{% endblock %}
{% block content %}
    <style>
/* Estilo del cuerpo */
    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 50px;
    }
    
    /* Estilo del contenedor */
    .container {
        width: 500px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    /* Estilo de los títulos */
    h1, h2 {
        color: #333;
    }
    
    /* Estilo de separación */
    hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 20px 0;
    }
    
    /* Estilo del formulario */
    form {
        text-align: left;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    select {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    input[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #555;
    }
    
    
    </style>

    <div class="container">
        <h1>Colegio San Miguel</h1>
        <h2>Registrar asistencias</h2>
        <hr/>
        <form action="{{ request_path }}" method="POST">
            <label for="curso">Cursos</label><br>
            <select id="curso" name="curso" width="500px">
                {% for curso in cursos %}
                    {% if curso.idpreceptor == preceptor.id %}
                        <option value="{{ curso.id }}">{{ curso.anio }} {{ curso.division }}</option>
                    {% endif %}
                {% endfor %}
            </select><br>
            <input type="submit" value="Confirmar" class="button1"/><br>
        </form>
    </div>

{% endblock %}